# user data
etc/hamchat.cf
etc/*.db
etc/channels/*.db
etc/users/*.db
etc/hamchat.stats

# built binaries
bin/hamchat
ext/ardop1/ardopc

# built modules and intermediate files
modules/*

# built intermediate files
obj/*
ext/ardop1/*.o
ext/ardop1/*.d
ext/ardop1/output.map

# log files
*.log
log/*.log
log/*.pid
