# user data
etc/hamchat.cf
etc/*.db
etc/channels/*.db
etc/users/*.db

# built binary
hamchat

# Run time products
hamchat.pid

# built modules and intermediate files
modules/*

# built intermediate files
obj/*

# log files
*.log
