[general]
core.daemonize=false
;core.daemonize=true
core.servername=irc.hamchat.local

;;;;;;;;;;;
; Station ;
;;;;;;;;;;;
; Station (not operator) callsign
station.callsign=N0CALL
; Station gridsquare
station.gridsquare=AA00aa
; TX power to initialize at start
station.default_txpower=5
; for /ADMIN command
admin.line1=Some City, Some State, Some Country
admin.line2=This server is an experimental instance of hamchat
admin.line3=Please report bugs.

;;;;;;;;;;;
; Logging ;
;;;;;;;;;;;
core.loglevel=debug
; options: debug|info|notice|warning|error|critical|alert|emergency
log.level=debug

;;;;;;;;;;;;;;;;;;;;;
; Heartbeat Network ;
;;;;;;;;;;;;;;;;;;;;;
; how long to wait before sending first heartbeat
heartbeat.delay=60
; how long to wait between heartbeats
heartbeat.interval=600

;;;;;;;;;
; Paths ;
;;;;;;;;;
path.db_main=etc/hamchat.db
path.db_main_schema=etc/hamchat.sql
path.logfile=file://log/hamchat.log
path.motd=etc/hamchat.motd
path.pidfile=hamchat.pid
path.statsfile=etc/hamchat.stats
path.ardop_bin=./ext/ardop1/ardopc

;;;;;;;;;;;;;;
; statistics ;
;;;;;;;;;;;;;;
; if set to 0, disables. default 1200
stats.dump_interval=300

;;;;;;;;;
; Users ;
;;;;;;;;;
path.db_userdir=etc/users/

;;;;;;;;;;;;
; Spotting ;
;;;;;;;;;;;;
spotting=true
spotting.db=true
path.db_spotting=etc/spots.db
path.db_spotting_schema=etc/spots.sql

;;;;;;;;;;;;
; Channels ;
;;;;;;;;;;;;
path.db_chandir=etc/channels/
path.channel_dump=etc/channels/dump.csv
; if set to false, delete stats file before dumping to it
chan.dump.keep_old=true

[listen]
tcp://*:6660
tcp://127.0.0.1:6667

[radio0]
driver=hamlib
description=Yaesu FT-891 connected to LDG RT-100 and 40/10m fan dipole
; 2 (RIG_MODEL_NETRIGCTL) for rigctld, 4 (RIG_MODEL_FLRIG) for flrig, otherwise see rigctl -l
model=2
; enabled must be last option in section, sorry.
enabled=true

#[radio1]
#description=simple transceiver without CAT controls
#mode=serial-ptt
#port=/dev/ttyUSB0
#port_mode=8N1
#port_rate=38400
#pin is DTR or RTS
#port_pin=RTS

[ardop]
allow_arq=false
allow_fec=true
max_baudrate=300
cmd_port=tcp://127.0.0.1:8515
cmd_data=tcp://127.0.0.1:8516
